<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h4>Hi <%= @user&.email %></h4>
<p> You requested for a password reset. Here is the token to reset your password: <%= @user&.reset_password_token %> </p>
</body>
</html>